doctype html
html
  head
    meta(charset="utf-8")
    title Renamer

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body
    div.container
      .row-fluid
        h1
          span.fa.fa-sign-in
          span Login
        if message.length
          div.alert.alert-danger #{message}

        form(action="/login", method="post")
          .form-group
            label Email
            input.form-control(type="text", name="email")
          .form-group
            label Password
            input.form-control(type="password", name="password")
          button.btn.btn-warning(type="submit") Log In
      .row-fluid
        a(href="/signup") Sign Up
