doctype html
html
  head
    meta(charset="utf-8")
    title Renamer

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body
    div.container
      .row-fluid
        h1 Profile Page
        a.btn.btn-default(href="/logout") Log Out
      .row-fluid
        .span6
          .well
            h3 Test User
            ul
              li ID #{user._id}
              li email #{user.local.email}
